@media (max-width: 1800px) {}

@media (max-width: 1700px) {}

@media (max-width: 1600px) {}

@media (max-width: 1500px) {}

@media (max-width: 1400px) {}

@media (max-width: 1300px) {}

@media (max-width: 1199px) {
    .myNav .navbar-brand {
        width: 150px;
    }
    .myNav .navbar-nav>li {
        padding: 8px 15px;
    }
    .myNav .navbar-nav>li>a, .myNav .navbar-nav>li>.navBtn {
        font-size: 14px;
    }
    .topBannar h1 {
        font-size: 34px;
    }
    .appSection h2 {
        font-size: 33px;
    }
    .footerLogo {
        margin-bottom: 30px;
        text-align: center;
    }
    .navMargin {
        margin-top: 65px;
    }
    .bdrDesign::after {
        right: -10px;
    }
}

@media (max-width: 991px) {
    .myNav .navbar-header {
        width: 100%;
    }
    .myNav .navbar-brand {
        float: none;
        display: block;
        margin: auto !important;
    }
    .myNav .navbar-collapse {
        padding: 0;
    }
    .myNav .navbar-nav>li, .myNav .navbar-nav>li>.navBtn {
        padding: 8px 13px;
    }
    .myNav .navbar-nav>li>a {
        font-size: 13px;
    }
    .topBannar h1 {
        font-size: 30px;
    }
    .usegesText p {
        font-size: 14px;
    }
    .howItworks ul li {
        font-size: 15px;
    }
    .appSection h2 {
        font-size: 30px;
    }
    .appGif img {
        width: 70%;
    }
    .howItworks, .industries, .contactUs, .appSection, .ourSetvices, .featuresBanner, .myApp, .appFeatures, .accounts, .aboutUs, .testimonials, .industries {
        padding: 50px 0;
    }
    .navMargin {
        margin-top: 111px;
    }
    .featuresBanner h1 {
        font-size: 30px;
    }
    .featuresBanner h3 {
        font-size: 18px;
    }
    .feature {
        padding: 70px 0;
    }
    .appOuter {
        max-width: 320px;
        margin: auto;
    }
    .testimonials .mainHeading {
        margin-bottom: 30px;
    }
    .testiWrapper div[class^="col-"] {
        margin-top: 15px;
    }
    .bdrDesign::after {
        right: 0;
    }
}

@media (max-width: 767px) {
    .navMargin {
        margin-top: 64px;
    }
    .myNav .navbar-brand {
        margin: 0 !important;
    }
    .myNav .navbar-header {
        width: auto;
    }
    .myNav .navbar-collapse {
        padding: 15px;
        border: none;
    }
    .myNav .navbar-nav>li>a {
        font-size: 14px;
    }
    .myNav .navbar-nav>li>.navBtn {
        width: auto;
        margin-left: 15px;
        display: inline-block;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .navbar-default .navbar-toggle:focus .icon-bar, .navbar-default .navbar-toggle:hover .icon-bar {
        background-color: #058eac;
    }
    .mainHeading {
        font-size: 24px;
    }
    .subHeading {
        font-size: 16px;
    }
    .topBannar {
        padding-top: 40px;
    }
    .videoWrapper {
        transform: translateY(60px);
    }
    .intro {
        padding: 90px 0 30px;
        text-align: center;
    }
    .intro h2 {
        font-size: 22px;
    }
    .intro p {
        font-size: 16px;
        margin: 15px 00;
    }
    .intro img {
        width: 100%;
        max-width: 340px;
        margin: auto;
        margin-top: 15px;
        display: block;
    }
    .appGif {
        text-align: center;
        margin-top: 60px;
    }
    .appGif img {
        width: 70%;
        max-width: 250px;
        margin: auto;
    }
    .serviceCard {
        min-height: auto;
        margin-top: 20px;
    }
    .serviceCard p {
        min-height: auto;
    }
    .ourSetvices h3, .howItworks h2, .industries h3 {
        margin-bottom: 30px;
    }
    .appSection h2 {
        font-size: 24px;
    }
    .howItworks, .industries, .contactUs, .appSection, .ourSetvices, .featuresBanner, .myApp, .appFeatures, .accounts, .aboutUs, .testimonials, .industries {
        padding: 40px 0;
    }
    .feature {
        padding: 50px 0;
        text-align: center;
    }
    .feature img, .feature:nth-child(odd) img {
        max-width: 320px;
        float: none;
        display: block;
        margin: auto;
        margin-top: 20px;
    }
    .feature h2 {
        font-size: 20px;
    }
    .feature p {
        font-size: 16px;
        line-height: 24px;
    }
    .feature:nth-child(even) .row {
        flex-direction: column-reverse;
    }
    .featuresBanner h1 {
        font-size: 20px;
    }
    .featuresBanner h3 {
        font-size: 16px;
        margin: 10px 0;
    }
    .myApp .mainHeading {
        margin-bottom: 10px;
    }
    .subHeading {
        margin-bottom: 20px;
    }
    .appCard {
        margin-top: 15px;
    }
    .appCard .icon {
        width: 60px;
        height: 60px;
    }
    .contactUs .form-control {
        padding: 10px 10px;
    }
    .footerWrapper h2 {
        font-size: 16px;
    }
    .packageHead {
        padding: 25px 0;
    }
    .packageHead h2 {
        font-size: 18px;
        margin-top: 10px;
    }
    .pakgBody {
        padding: 15px;
    }
    .pakgBody ul li+li {
        margin-top: 15px;
    }
    .pakgBody ul li {
        font-size: 16px;
    }
    .packgWrapper {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .aboutWrapper {
        max-width: 320px;
        margin: auto;
    }
    .aboutWrapper h3 {
        font-size: 22px;
    }
    .testimonials .mainHeading {
        margin-bottom: 15px;
    }
    .industryCard {
        min-height: auto;
    }
    .bdrDesign::after {
        width: 100%;
        height: 1px;
        bottom: 0;
        top: auto;
    }
    .bdrDesign {
        padding-bottom: 15px;
        margin-bottom: 15px;
    }
}

@media (max-width: 568px) {
    .icon {
        width: 80px;
        height: 80px;
    }
    .serviceCard h4 {
        font-size: 16px;
    }
    .ourSetvices h3, .howItworks h2, .industries h3 {
        margin-bottom: 20px;
    }
    .ourSetvices h3 {
        margin-bottom: 0;
    }
    .intro {
        padding: 60px 0 30px;
    }
    .intro h2 {
        font-size: 20px;
    }
    .intro p {
        font-size: 15px;
    }
    .mainHeading {
        font-size: 18px;
    }
    .subHeading {
        font-size: 14px;
    }
    .serviceCard p {
        font-size: 14px;
    }
    .appGif {
        text-align: center;
        margin-top: 22px;
    }
    .appGif img {
        width: 165px;
    }
    .howItworks ul li {
        font-size: 14px;
    }
    .usegesText h3 {
        font-size: 30px;
    }
    .contactUs label {
        font-size: 14px;
    }
    .howItworks, .industries, .contactUs, .appSection, .ourSetvices, footer, .featuresBanner, .myApp, .appFeatures, .accounts, .aboutUs, .testimonials, .industries {
        padding: 20px 0;
    }
    .topBannar {
        padding-top: 20px;
    }
    .contactUs p {
        margin-bottom: 20px;
    }
    footer .socialIcons {
        margin-top: 20px;
    }
    .icon {
        width: 70px;
        height: 70px;
    }
    .feature {
        padding: 30px 0;
    }
    .feature h2 {
        font-size: 18px;
        margin-bottom: 15px;
    }
    .feature p {
        font-size: 15px;
        margin-bottom: 15px;
    }
    .contactUs .myBtn {
        padding: 10px 29px 12px;
        font-size: 15px;
    }
    .footerWrapper ul a {
        font-size: 14px;
    }
    .copyRights a {
        font-size: 11px;
    }
    .testimonials .mainHeading {
        margin-bottom: 0;
    }
    .testiCard svg {
        width: 33px;
    }
    .testiCard h4 {
        margin-top: 15px;
    }
    .testiCard {
        padding: 20px 20px 20px 25px;
    }
}

@media (max-width: 370px) {}